h1{
 color: white;
 font-family: 'Rock Salt', cursive;
 border-bottom: 1px solid midnightblue; 
}
.row-1{
    margin-top: 20px;
    text-align:center;
}
li{
    opacity: .50; 
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .50;
    -moz-opacity: .50; 
margin-top:10px;
margin-right:50px;
margin-left:50px;
margin-bottom: 10px;
padding-top: 0px;
padding-right: 25px;
padding-bottom: 0px;
padding-left: 25px;
}

li:hover{
    background-color: black;
}
.row img{
    height: 150px;
}
.container-fluid{
    background:grey url(img/music2.png) center center no-repeat;
    background-size: cover;
    height: 800px;
    margin: 0 0 0 0;
    position: relative;
}
.ScrollStyle{
    margin-top: 50px;
    max-height: 500px;
    overflow-y: scroll;
}
.list-group-item{
    margin-bottom: 27px;
    margin-top: 25px;
    padding: 5 0 5 25;
}